.shopCart-container
  width 100%
  .shopCart-header
    height 45px
    display: flex
    justify-content center
    align-items: center
    background-color #fff
    border-bottom: 1px solid rgba(0,0,0,0.1)
    img 
      width 20px
      height 30px
    .shopCart-header__middle
      font-size: 15px
      font-weight bolder
      margin 0 32%
    .shopCart-header__right
      font-size: 13px
      color: rgba(0,0,0,0.6)
  .shopCart-tab
    position fixed
    bottom 0
    left 0
    background-color #ffffff
    width 100%
    height 50px
